@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: "Exo 2", sans-serif;

}

header {
    background-color: rgb(23, 5, 80);
    font-family: "Inconsolata", monospace;
}


nav {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 10px;
}

nav a:hover {
    color: #cca2f3;
}


section.home {

    height: 600px;
    background-color: rgb(49, 6, 90);
    display: flex;
    align-items: center;
    justify-content: space-around;


}

h1,
h2 {
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 15px;
}


p {
    max-width: 500px;
    max-height: 200px;
    margin-left: 50px;
    padding: 10px;
}

.social {
    padding-top: 10px;
    margin-left: 50px;

}

.social a {
    color: white;
    font-size: 30px;

}

.social a:hover {
    box-shadow: 0 0 10px #888;
    border-radius: 50%;
    align-items: center;
}

.liga {
    border-radius: 100vw;
}

.sobre {
    background-color: rgb(23, 5, 80);
    height: 600px;
}


.sobre h1,
.tabela h1 {
    text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;


}

.foto {
    border-radius: 3vw;
}

input {
    margin-left: 50px;
    height: 45px;
    width: 15vw;
    border-radius: 50px;
    font-weight: bold;
    color: rgb(70, 25, 89);
    margin-top: 15px;

}

.Projetos {
    background-color: rgb(49, 6, 90);
    height: 600px;

}

.tabela {
    background-color: rgb(23, 5, 80);
    height: 600px;
}


table {
    max-width: 500px;
    max-height: 200px;
    margin-left: 50px;
    padding: 10px;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;



}


td,
tr {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

th {
    background-color: white;
    color: rgb(23, 5, 80);
    padding: 30px;
    
}