@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inconsolata", monospace;
}


header {
    background-color: hsl(265, 64%, 34%);
}


nav {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 10px;
}

nav a:hover {
    color: #cca2f3;
}

